@import "tailwindcss";
@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:700i');

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-twitter-blue: #1da1f2;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'FiraGO', sans-serif;
}
.font-firago {
  font-family: 'FiraGO', sans-serif;
}
.light-mode {
  --text-color: #171717;
  --background: #ffffff;
  --foreground: #171717;
  --hover-color-primary: rgba(38, 38, 39, 0.61);
  --hover-color-toggle: rgb(255, 217, 0);
  --blurrer-bg: rgba(255, 255, 255, 0.2);
  --basic: #000;
  --second-text-color: rgb(180, 180, 180);
  --button-bg: black;
}
.dark-mode {
  --text-color: #ededed;
  --background: #0a0a0a;
  --foreground: #ededed;
  --hover-color-primary: #DBEAFE;
  --hover-color-toggle: rgb(255, 217, 0);
  --blurrer-bg: rgba(0, 0, 0, 0.2);
  --basic: #fff;
  --second-text-color: black;
}

